<!-- HEADER -->
<div class="header d-flex align-items-center justify-content-center">
  <h2 class="text-white display-3">
    #AcademyTeam
  </h2>
</div>
<section class="bg-white">
  <div class="container my-5 container d-flex flex-column justify-content-center align-items-center">
    <h1 class="font-weight-light">Los lideres en la educacion e instruccion </h1>
    <p>Trabajamos conectando instructores y estudiantes con el deseo de superearse y alcanzar su sueños a una velociadad
      impresionante</p>
    <img class="rounded" [src]="picture" alt="" width="600px">
    <label class="mt-2"> Li Qiang | UniversidadOnline CEO </label>
  </div>
</section>
<section class="bg-light py-5">
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <h2 class="font-weight-light">Nuestro alcance global</h2>
    <p class=" mb-5">Nuestros numeros lo comprueban, UniversidadOnline es la plataforma con los mejores intructores al rededor del mundo.</p>
    <div class="row about-stats">
      <div class="col">
        <div class="row">
          <div class="col-12  d-flex flex-column justify-content-center align-items-center">
            <h2 class="font-weight-bold">30M</h2>
            <p>Estudiantes</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12  d-flex flex-column justify-content-center align-items-center">
              <h2 class="font-weight-bold">100K</h2>
              <p>Cursos</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12  d-flex flex-column justify-content-center align-items-center">
              <h2 class="font-weight-bold">42K</h2>
              <p>Instructores</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12  d-flex flex-column justify-content-center align-items-center">
              <h2 class="font-weight-bold">190M</h2>
              <p>Inscripciones</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12  d-flex flex-column justify-content-center align-items-center">
              <h2 class="font-weight-bold">22M </h2>
              <p>Videos</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12  d-flex flex-column justify-content-center align-items-center">
              <h2 class="font-weight-bold">50+</h2>
              <p>Lenguas</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
