<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand d-flex" [routerLink]="['/inicio']"><i class="logoUO"></i>UniversidadOnline</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/inicio']">Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/nosotros']">Nosotros</a>
        </li>
      </ul>
      <div class="search-bar form-inline my-2 my-lg-0 w-50">
        <input class="form-control my-sm-0 w-75" placeholder="Buscar" #searchBar (keyup)="searchValue(searchBar.value)">
        <button class="btn border border-white text-primary  my-sm-0"><i class="fa fa-search"
            aria-hidden="true"></i></button>
      </div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-white cart"><i class="fas fa-shopping-cart"></i>
            <div class="notification" *ngIf="navarCart.length > 0">{{navarCart.length}}</div>
          </a>
          <div class="hover-cart position-relative" *ngIf="navarCart.length > 0">
            <div class="list-group position-absolute mt-3">
              <a class="list-group-item list-group-item-action hover-cart-title">
                <div class="row p-0 px-3 d-flex justify-content-between">
                  <div class="hover-cart-button"> <a class="btn btn-primary" (click)="cleanNavCart()">
                      <i class="fa fa-trash mr-2" aria-hidden="true"></i> Vaciar todo
                    </a>
                  </div>
                  <div>Carrito</div>
                  <div class="hover-cart-button"> <a class="btn btn-primary">
                      Pagar <i class="fa fa-chevron-right ml-2" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </a>
              <div class="list-group-item list-group-item-action h-100 p-0 pb-3 bg-light">
                <div class="nav-cart-item mx-3"
                  *ngFor="let course of navarCart">
                  <div class="p-1 mt-2 bg-white  rounded border border-black-50 d-flex" (click)="findCourse(course.id)">
                    <img [src]="course.img" height="80px" width="120px">
                  <div class="d-flex flex-column">
                    <h4 class="m-0 pl-3">{{course.titulo}}</h4>
                    <label class="text-black-50 pl-3">{{course.autor | titlecase}}</label>
                    <h4 class="pl-3 font-weight-bold"> ${{fixCurrency(course.costo) | number: '1.2-2'}}</h4>
                  </div>
                </div>
                  <a class="btn btn-primary" (click)="deleteCourse(course.id)">x</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
